body{
font-family: Times New Roman;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}
header{
background-color: #333;
color: white;
padding: 20px;
text-align: centre;
}
main{
padding: 20px;
}
